/* Estilo para o corpo e a página inteira */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-image: url('../imagens/shopping-cart-svgrepo-com.svg');
    background-size: 100px;
    background-position: 33% 50%;
    background-color: #fff200;
    background-repeat: no-repeat;
    text-align: center;
    padding: 4.5rem;
    font-size: larger;
}

nav {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #fff200;
    color: #000000;
}

main {
    flex-grow: 1;
}
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
}
p{

}
.div-btn{
    margin-bottom: 5px;
}
.btn{
    padding: 5px 10px;
    background-color: #000000;
    color: #fff200;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff200;
    color: #000000;
}
.table {
    width: 60%; /* Ajuste conforme necessário */
    max-width: 480px; /* Evita que fique muito grande */
    margin: 20px auto; /* Centraliza horizontalmente */
    border-collapse: collapse;
    padding: 10px;
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
}

th, td {
    padding: 10px; /* Espaço interno nas células */
    border: 1px solid #ddd; /* Define a borda da tabela */
    text-align: left; /* Alinha o texto à esquerda (padrão) */
}
.remover{
    text-decoration: none;
    color: red;
}
.buttonF{
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    color: black;
    background: #9d9d9d;
}
.buttonF:hover{
    color: #9d9d9d;
    background-color: #000000;
}