/* Estilo para o corpo e a página inteira */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-image: url('../imagens/shopping-cart-svgrepo-com.svg');
    background-size: 100px;
    background-position: 33% 50%;
    background-color: #fff200;
    background-repeat: no-repeat;
    text-align: center;
    padding: 4.5rem;
    font-size: larger;
}

nav {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #fff200;
    color: #000000;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.div-btn{
    margin-bottom: 5px;
}
.btn{
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.btn:hover{
    background-color: #fff200;
    color: #000000;
}
.table{
    width: 80%; /* Define a largura da tabela */
            margin: 0 auto; /* Centraliza a tabela na página */
            border-collapse: collapse;
            margin-left: 37%;
}
th, td {
    padding: 10px; /* Espaço interno nas células */
    border: 1px solid #ddd; /* Define a borda da tabela */
    text-align: left; /* Alinha o texto à esquerda (padrão) */
}
.remover{
    text-decoration: none;
    color: red;
}