@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-image: url('../imagens/administration-job-with-archive-svgrepo-com.svg');
    background-size: 100px;
    background-position: 20% 50%;
    background-color: #fff200;
    background-repeat: no-repeat;
    text-align: center;
    padding: 4.5rem;
    font-size: larger;
}

.AdmText{
    text-align: center;
}

nav {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #fff200;
    color: #000000;
}

main {
    justify-content: space-between;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form input, .form textarea {
    height: 45px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.form textarea {
    min-height: 80px;
    resize: vertical;
}

.label-input {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.label-input i {
    margin-right: 10px;
    color: #777;
}

.label-input input, .label-input textarea {
    font-size: 16px;
    color: #333;
}

.btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #000000;
}

.btn-second {
    background-color: #fff200;
}

.btn-second:hover {
    background-color:#fff200;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    width: 100%;
    border-radius: 6px;
}

input[type="file"]:hover {
    cursor: pointer;
}




.user-dropdown {
    position: relative;
    display: inline-block;
    right: 100px;
}

.user-dropdown .fas,
.user-dropdown .far {
    cursor: pointer;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff200;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.user-img {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff200;
}
/* Estilos do menu */

.navmenu {
    background-color: #000000;
    margin-right: 85%;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; /* Adicionei isso para evitar problemas com a animação de slideToggle */
    
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-item {
    position: relative;
    background-color: #000000;
}

.menu-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.submenu-item {
    display: block;
}

.menu-item:hover .submenu {
    display: block;
}

/* Adicione esta regra ao seu arquivo CSS */
.hidden {
    overflow: hidden;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.custom-table thead {
    background-color: #fff200;
    color: white;
    text-align: left;
}

.custom-table th, .custom-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.custom-table tr:hover {
    background-color: #f1f1f1;
}

.custom-table th {
    font-weight: bold;
}

.custom-table td {
    color: #333;
}

.btn-edit, .btn-delete {
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.btn-edit {
    background-color: #000000;
    color: white;
}

.btn-edit:hover {
    background-color: #232323;
}

.btn-delete {
    background-color: #d41702;
    color: white;
}

.btn-delete:hover {
    background-color: #c0392b;
}

.Aqv {
    background-color: #232323;
    width: 100px;
    position: relative;
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 10%;
    text-align: center;
    padding: 10px 0; /* Adiciona um pouco de espaçamento interno para o link */
}

.liaqv {
    text-align: center;
    text-decoration: none; /* Remove o sublinhado do link */
    color: #fff; /* Defina a cor do texto */
    
}

.liaqv:hover {
    color: #fff200; /* Muda a cor quando o mouse passa sobre o link */
}
