body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-image: url('../imagem/logo.png');
    color: #fff;
    text-align: center;
    padding: 6.5rem;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #fff200;
    color: #000000;
}

main {
    padding: 2rem;
    justify-content: space-between;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 5px 10px;
    background-color: #fff200;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}



.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-icon {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff200;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.rounded-image {
    border-radius: 50%; /* Define um arredondamento de 50%, tornando a imagem circular */
  
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}